<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %> Details</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
        }

        p {
            color: #555;
            text-align: center;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            color: #4CAF50;
            margin-top: 10px;
            display: inline-block;
            margin-right: 10px;
            padding: 8px;
            border: 1px solid #4CAF50;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #4CAF50;
            color: #fff;
        }
    </style>-->
</head>
<body>
    <h1><%= book.title %></h1>
    <p>Author: <%= book.author %></p>
    <a href="/update/<%= book.id %>">Update</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>
